.App-header {
    display: flex;
    justify-content: space-around;
    background-color: #141414;
}

.logo {
    color: #ebeb5b;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
}

.App-h3 {
    color: #9c9c9c;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 15px;
}