.nav-style {
    color: #e8e8e8;
    padding: 0 20px 0 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.links-style {
    display: flex;
    justify-content: center;
}

nav {
    background-color: #242423;
}